*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2%;
}
footer{
    background-color: #253342;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #d49137 #000;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #ffffff;
    opacity: 0.9;
}
/* Hower Effects on Social Media Icons */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;

}
.socialIcons a:hover i{
    color: #d49137;
    transition: 0.5s;
    list-style-type: none;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: #d49137;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
    color: azure;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: opx 5px;

}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}